@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.otf);
}

@font-face {
    font-family: robotoMed;
    src: url(Roboto-Medium.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --image-width: 500px;
    --container-justification: 40px;
}

.container {
    display: flex;
}

.containerLeft {
    width: var(--image-width);
}

.logoBand {
    position: absolute;
    top: 170px;
    width: var(--image-width);
    height: 125px;

    background-color: black;
    opacity: 0.5;

    font-family: norse;
    font-size: 40px;
    color: white;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 180px;
    opacity: 0.9;

    width: var(--image-width);
    height: auto;

    font-size: 80px;
    font-family: norse;
    color: white;
}

.logo {
    width: 16%;
    height: auto;
}

.brandName {
    padding-top: 15px;
}

.imageMain {
   padding: 0px;
   margin: 0px;
   width: var(--image-width);
   height: auto;
}

.containerRight > * {
    flex-basis: 33.33%;
}

.containerRightTop, .containerRightBottom {
    background-color: #f8fafc;
  
}

.containerRight {
    display: flex;
    flex-direction: column;

    font-family: robotoMed, sans-serif;
    font-weight: bolder;
}

.containerRightTop {
    font-size: 22px;

    padding-left: var(--container-justification);
    padding-right: 130px;
    padding-top: 150px;
}

.mainLine2 {
    padding-top: 30px;
}

.containerRightMiddle {
    box-shadow: 0px 5px 20px 0px lightgrey;
    margin-bottom: 5px;

    padding-left: var(--container-justification);
    padding-top: 15px;
}

.middleTitle {
    font-size: 22px;
    color: #383838;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 500px;
    margin-top: 20px;

    font-family: inherit;
    font-size: 10px;
}

.formLeft, .formRight {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 200px;
}

input {
    margin-bottom: 20px;
    width: 230px;
    height: 28px;
    border-radius: 4px;
    border: 2px solid #E5E7EB;
}

label {
    letter-spacing: 1px;
}

.containerRightBottom {
    display: flex;
    flex-direction: column;
}

button {
    height: 45px; ;
    width: 210px;
    margin-left: var(--container-justification);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: none;

    background-color: #596D48;
   
    font-size: 16px;
    font-family: inherit;
    color: white;
}

.rightBottom1 {
    margin-left: var(--container-justification);
    font-family: roboto;
}

.rightBottom2 {
    color:#596D48

}





